<div>
  <app-navbar class="navbarbarra text-black"></app-navbar>
</div>

<div class="w-full h-full contenido"></div>

<!-- Menú móvil -->
<div class="lg:hidden mt-4 px-4">
  <select (change)="onSelectChange($event)" class="w-80 p-2 border select">
    <option value="" disabled selected>Seleccione una opción</option>
    <option value="ceremonia">Ceremonia</option>
    <option value="restaurante">Banquete</option>
  </select>
</div>

<!-- Menú de escritorio -->
<div class="hidden lg:block mt-4">
  <div id="infoLeftMenuWrapper">
    <a (click)="selectComponent('ceremonia')" [class.infoLeftMenuItemSelected]="currentComponent === 'ceremonia'">
      <span class="infoLeftMenuItemText pl-[38%]">
        Ceremonia
      </span>
    </a>

    <a (click)="selectComponent('restaurante')" [class.infoLeftMenuItemSelected]="currentComponent === 'restaurante'">
      <span class="infoLeftMenuItemText pl-[43%]">
        Banquete
      </span>
    </a>
  </div>
</div>

<!-- Contenido dinámico -->
<div *ngIf="currentComponent === 'ceremonia'" class="ceremonia">
  <app-paginasab></app-paginasab>
</div>

<div *ngIf="currentComponent === 'restaurante'" class="banquete">
  <app-paginascd></app-paginascd>
</div>
