<nav class="flex justify-between relative w-full bg-gray-800 border-1 boder-solid border-white md:bg-gray-800 h-20 z-50">
  <div class="flex flex-row w-full h-full items-center justify-between">
    <div class="flex items-center w-full justify-between">
      <img src="../../assets/backtext3.png" alt="logo boda" class="w-40 flex justify-start md:w-50 mt-2">

      <!-- Botón hamburguesa para móviles -->
      <button class="mr-6 lg:hidden " (click)="toggleMenu()">
        <span class="block w-6 h-0.5 bg-white mb-1"></span>
        <span class="block w-6 h-0.5 bg-white mb-1"></span>
        <span class="block w-6 h-0.5 bg-white"></span>
      </button>
    </div>

    <!-- Menú para pantallas grandes -->
    <div class="hidden lg:flex flex-grow w-full items-center justify-center">
      <ul class="flex flex-row justify-center space-x-8 w-full">
        <li class="font-bold hover:bg-green-800 hover:text-white p-2">
          <a href="/home">Inicio</a>
        </li>
        <li class="font-bold hover:text-green-900 ho p-2">
          <a href="/about">Información útil</a>
        </li>
        <li class="font-bold hover:text-green-900 ho p-2">
          <a href="/form">Formulario</a>
        </li>
        <li class="font-bold hover:text-green-900 ho p-2">
          <a href="/contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Menú móvil -->
  <ul [ngClass]="{'bg-gray-600 opacity-75': isMenuOpen, 'bg-none': !isMenuOpen}"
      class="nav-links mobile-menu flex flex-col items-end lg:hidden absolute top-full right-0 shadow-md"
      [class.hidden]="!isMenuOpen">
    <li class="p-4 border-b w-full text-white hover:bg-black"><a href="/home">Inicio</a></li>
    <li class="p-4 border-b w-full text-white hover:bg-black"><a href="/about">Información útil</a></li>
    <li class="p-4 border-b w-full text-white hover:bg-black"><a href="/form">Formulario</a></li>
    <li class="p-4 w-full text-white hover:bg-black"><a href="/contact">Contacto</a></li>
  </ul>
</nav>
