body {
  margin: 0;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  overflow: hidden; /* Evita el scroll si no es necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fondisimo {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100vw; /* Asegura que la imagen cubra todo el ancho de la ventana */
  height: 100vh; /* Asegura que la imagen cubra toda la altura de la ventana */
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

.login-container {
  z-index: 10; /* Asegura que el contenido esté por encima de la imagen de fondo */
  position: relative;
}

@media (max-width: 480px) {
  .fondisimo {
    width: 180vw;
    height: 180vh;
    object-position: 83% 87%;
    margin-top: -107%;
  }
}
