<app-navbar class="relative bg-gray-500 flex pb-8 text-white z-50"></app-navbar>
<div class="relative bg-gray-600 w-screen h-screen">
  <h1 class="flex justify-center items-center text-white text-4xl z-20">Contacto</h1>
  <div class="w-full flex justify-end h-auto rounded-2xl">

    <img src="../../assets/7IV09953.jpg" alt="" width="70%"
    class="animate-jump-in animate-delay-1000 animate-once mt-8 mr-6 border-t-8 border-b-8 border-r-2 border-l-2 border-solid border-white"
    >


  </div>

  <div id="weddingListS1Text" class="text-white text-center bg-gray-500 rounded-2xl mt-10 h-[30%] w-[75%] ml-[5%] animate-bounce animate-delay-1200 animate-once">
    Sin lugar a dudas, <b>vuestra compañía en nuestro día más especial es el mejor regalo</b>, pero si además queréis contribuir de alguna otra forma, podéis hacerlo aquí:<br><br>Banco: <u>CaixaBank</u><br>Beneficiarios: <u>MªLuisa & Ismael</u><br>IBAN: <u>ES00 1111 2222 3333 4444 5555</u>
   </div>

</div>
