<app-navbar class="relative bg-gray-500 flex pb-8 text-white z-50"></app-navbar>
<div class="relative bg-gray-600 w-screen h-screen">
  <h1 class="flex justify-center items-center text-white text-4xl z-20">Contacto</h1>
  <div class="w-full flex justify-center h-auto rounded-2xl">

    <img src="../../assets/7IV09953.jpg" alt="" width="100%"  class="">

  </div>
  <div>
    <p class="text-white">
      Tenemos un sueño y quiero agradeceros vuestra colaboración estando entre los asistentes, nuestro sueño es formar una familia tan bonita como la que conformais
      todos y cada uno de los asistentes a este evento y queremos
    </p>
  </div>

</div>
