

<div class="w-full h-screen">
  <app-navbar></app-navbar>
  <section class="absolute top-0 left-0 right-0 bottom-0 w-[96%] h-full ml-[35px] mt-[20px] rounded-[15px] filter blur-[8px] z-0 imagenfondo"></section>

  <div class="relative top-40 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
    <h1 class="text-white text-4xl font-bold">Contáctanos</h1>

  </div>
  <div class="relative top-60 left-[400px] transform -translate-x-1/2 -translate-y-1/2 z-4">
    <article>
      <p class="text-white">Para contactar con nosotros <br> os dejamos los siguientes teléfonos: <br> 663340933 y 660369775</p>
    </article>
  </div>

</div>
