

.imagenfondo {
  position: absolute;
  background-image: url(../../assets/backgroundtodo.jpg);
  z-index: 1;
}

.navbarbarra {
  position: absolute;
  background-color: beige;
  width: 100%;
  z-index:2;
}
