<div class="mt-[410px] text-4xl cuentaatras">


  <div class="flex flex-column ml-20 text-white">

    <div class="flex flex-column items-center justify-center">
      <p class="pr-4 pt-2 mb-2 text-white">
        {{ days }} -
      </p>

    </div>
    <div>
      <p class="pr-4 pt-2 mb-2">
        {{ hours }}:
      </p>
    </div>
    <div>
      <p class="pr-4 pt-2 mb-2">
        {{ minutes }}:
      </p>
    </div>
    <div>
      <p class="pr-4 pt-2 mb-2">
        {{ seconds }}
      </p>
    </div>
  </div>

</div>
