<div class="absolute flex flex-col justify-center h-[60%]  w-[80vw] bg-beidge-200 rounded-2xl border-2 border-blue-500 border-solid shadow-lg shadow-slate-600 md:w-[60%] md:border-orange-500 md:h-[90%] md:mt-[15%]">

  <div class="flex flex-col justify-start items-center font-extrabold ml-3 text-blue-900 md:text-orange-500 md:mt-[-6%] font-salome">
    BANQUETE: SALONES EL ATARDECER
  </div>
  <hr class="my-4 border-[0.1rem] border-orange-400 w-[98%] opacity-45">
  <div class="flex flex-col justify-start w-[100%]">
    <div class="flex font-salome font-bold"><p class="text-black">Fecha: </p> <u class="text-blue-600">16/11/2024</u></div>
    <div class="flex font-salome font-bold"><p class="text-black">Hora: </p><u class="text-blue-600">14:00 am</u></div>
  </div>
  <div class="mt-4 md:mt-4">
    <img src="../../assets/salones.jpg" alt="salones atardecer" class="w-full md:w-50% md:h-[60vh] mx-auto">
  </div>
  <div class="gqkR3b googlemaps mt-4 text-center md:pb-6">
    Dirección:
    <a href="https://www.google.es/maps/place/El+Atardecer+Salones/@37.9757308,-1.2290601,17z/data=!3m1!4b1!4m6!3m5!1s0xd647fe0e1d95929:0x32a0d778c12a914!8m2!3d37.9757308!4d-1.2290601!16s%2Fg%2F11cs23glcy?hl=es&entry=ttu" style="cursor:pointer" target="_blank" class="text-blue-800 hover:underline">
      <span class="block font-salome font-extrabold">C. Maestra Josefina Lozano Pinar, 19 <br> 30820 Alcantarilla, Murcia</span>
    </a>
  </div>
</div>
