<div id="infoRightContentWrapper">



  <div class="infoElementWrapper" style="margin-bottom: 35px">
   <div class="infoElementTitle" style="display: inline">
    BANQUETE: SALONES EL ATARDECER
   </div>
   <div class="infoElementText" style="display: inline">
    <div>Fecha: <u>16/11/2024</u></div><div>Hora: <u>14:00 pm</u></div>

   </div>
   <div class="infoElementImage">
    <img src="../../assets/salones.jpg" alt="">
  </div>


   <div class="infoElementText" style="display: none">

   </div>
   <div id="googleMap100038796" class="infoElementMap" style="display: none">
   </div>
   <div class="infoElementText" style="display: none">

   </div>
  </div>

  </div>
