#infoRightContentWrapper {
  position: relative;
  float: left;
  width: 748px;
  margin-left: 30%;
  margin-top: 190px;
  margin-bottom: 0px;
  margin-right: 180px;
  padding-top: 150px;
  padding-right: 25%;
  padding-bottom: 10px;
  background: #FFFFFF;
  border: solid 1px #BBBBBB;
  z-index: 1;
}

.infoElementWrapper {
  position: relative;
  float: left;
  width: 675px;
  margin-left: 10%;
  margin-top: -150px;
  z-index: 1;
}

.infoElementImage {
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: 'robotoBold';
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'robotoLight';
  src: url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.infoElementTitle {
  position: relative;
  float: left;
  width: 672px;
  margin-top: 22px;
  padding-bottom: 8px;
  font: normal 30px robotoBold;
  color: #263238;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #22313F;
  z-index: 1;
}

.infoElementText {
  position: relative;
  float: left;
  width: 672px;
  margin-top: 22px;
  font: normal 18px robotoLight;
    line-height: normal;
  color: #2C3E50;
  line-height: 25px;
  text-align: justify;
  z-index: 1;
}

.infoElementText a:link, .infoElementText a:active, .infoElementText a:visited {
  font: normal 18px robotoBold;
  color: #01C3A4;
  text-decoration: none;
}

.infoElementText u {
  font: normal 18px robotoBold;
  color: #01C3A4;
  text-decoration: none;
}


@media (max-width: 600px) {

  .infoElementTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -1%;
    width: 50%;
    font-size: 86%;
  }

  .infoElementWrapper {
    margin-bottom: 12%;
    margin-left: 6%;
  }
  #infoRightContentWrapper {

    width: 92vw;
    margin-top: 20%;

  }
  .infoElementImage {
    width: 48%;
  }

}
