<div id="infoRightContentWrapper">



  <div class="infoElementWrapper" style="margin-bottom: 35px">
   <div class="infoElementTitle" style="display: inline">
    CEREMONIA: IGLESIA NUESTRA SEÑORA DE LA ASUNCIÓN
   </div>
   <div class="infoElementText" style="display: inline">
    Web: <a target="_blank" href="http://www.weddingpalace.com">www.weddingpalace.com</a><div>Fecha: <u>16/11/2024</u></div><div>Hora: <u>12:00 am</u></div>

   </div>
   <div class="infoElementImage">
    <img src="../../assets/campoamor.jpg" alt="">
  </div>


   <div class="infoElementText" style="display: none">

   </div>
   <div id="googleMap100038796" class="infoElementMap" style="display: none">
   </div>
   <div class="infoElementText" style="display: none">

   </div>
  </div>

</div>
