<div class="absolute flex flex-col justify-between h-[60%] w-[80vw] bg-gray-800 rounded-2xl border-2 border-white border-solid shadow-lg shadow-slate-600 md:w-[60%] md:border-white md:h-[70%]">

  <div class="flex flex-col justify-start items-center font-extrabold ml-3 text-white md:text-white md:mt-2 font-salome">
    CEREMONIA: IGLESIA NUESTRA SEÑORA DE LA ASUNCIÓN
  </div>
  <hr class="my-4 border-[0.1rem] border-white w-[98%] opacity-45">

  <div class="flex flex-col items-start justify-center text-start w-[100%] ">
    <div class="flex font-salome font-bold"><p class="text-white">Fecha: </p> <u class="text-blue-400">16/11/2024</u></div>
    <div class="flex font-salome font-bold"><p class="text-white">Hora: </p><u class="text-blue-400">12:00 am</u></div>
  </div>
  <div class="mt-4 md:mt-5 ">
    <img src="../../assets/campoamor.jpg" alt="" class="w-full  mx-auto md:h-[45vh]">
  </div>

  <div class="gqkR3b googlemaps text-center md:pb-6 mt-0 h-[58%] rounded-xl flex flex-col justify-center text-white">
    Dirección:
    <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0xd6480066937d14d:0x8bb57705b7b2382d?sa=X&ved=1t:8290&ictx=111" target="_blank" class="text-blue-400 hover:underline">
      <span class="block font-salome font-extrabold">Pl. de la Inmaculada, s/n <br> 30820 Alcantarilla, Murcia</span>
    </a>
  </div>

</div>
