<app-navbar class="bg-gray-500 fixed w-full text-white z-10"></app-navbar>

<body class="min-h-screen w-full overflow-y-auto bg-cover bg-center bg-no-repeat" style="background-image: url('../../assets/backgroundtodo.jpg');">
  <div class="container mx-auto px-4 py-20 sm:py-32 md:py-40 lg:py-48 xl:py-56">
    <div class="max-w-md mx-auto bg-gradient-to-r from-gray-700 to-black rounded-3xl shadow-2xl shadow-black border-2 border-solid border-blue-300 overflow-hidden">
      <h1 class="text-2xl text-white font-salome font-extrabold text-center p-6 bg-gradient-to-r from-gray-800 to-black">Formulario de Asistencia para la gran fiesta</h1>

      <div class="bg-blue-100 p-6 sm:p-8">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-6">
            <div class="flex justify-center items-center p-3 bg-gradient-to-r from-gray-700 to-black text-white rounded-lg border-2 border-solid border-blue-300">
              <label class="text-sm font-bold mr-4">¿Asistirás?</label>
              <div class="flex items-center space-x-4">
                <label class="flex items-center">
                  <input type="checkbox" [checked]="asistir" (change)="toggleCheckbox('asistir')" class="form-checkbox h-5 w-5 text-blue-600" />
                  <span class="ml-2">Sí</span>
                </label>
                <label class="flex items-center">
                  <input type="checkbox" [checked]="noAsistir" (change)="toggleCheckbox('noAsistir')" class="form-checkbox h-5 w-5 text-blue-600" />
                  <span class="ml-2">No</span>
                </label>
              </div>
            </div>
          </div>

          <div class="space-y-6">
            <input type="text" id="name" [(ngModel)]="name" name="name" required class="w-full p-3 bg-transparent border-b-2 border-gray-300 focus:border-blue-500 focus:outline-none placeholder-black" placeholder="Ingresa tu nombre" />

            <input type="text" id="name2" [(ngModel)]="name2" name="name2" required class="w-full p-3 bg-transparent border-b-2 border-gray-300 focus:border-blue-500 focus:outline-none placeholder-black" placeholder="Ingresa el nombre de tu acompañante/es" />

            <textarea id="allergies" [(ngModel)]="allergies" name="allergies" rows="3" class="w-full p-3 bg-transparent border-b-2 border-gray-300 focus:border-blue-500 focus:outline-none placeholder-black" placeholder="Especifica tus alergias o intolerancias"></textarea>
          </div>

          <div class="mt-6 space-y-2">
            <label class="flex items-center">
              <input type="checkbox" [(ngModel)]="vegan" name="vegan" class="form-checkbox h-5 w-5 text-blue-600" />
              <span class="ml-2 text-gray-700">Soy vegano/a</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" name="vegetariano" [(ngModel)]="vegetariano" class="form-checkbox h-5 w-5 text-blue-600" />
              <span class="ml-2 text-gray-700">Soy vegetariano/a</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" name="celiac" [(ngModel)]="celiaco" class="form-checkbox h-5 w-5 text-blue-600" />
              <span class="ml-2 text-gray-700">Soy celíaco/a</span>
            </label>
          </div>

          <div class="mt-8 text-center">
            <button type="submit" class="bg-gradient-to-r from-gray-700 to-black hover:from-gray-800 hover:to-gray-900 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline transition duration-300">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
