<app-navbar class="bg-gray-500 absolute w-full text-white z-10"></app-navbar>
<body class="absolute w-screen h-screen overflow-y-hidden" style="background-image: url('../../assets/backgroundtodo.jpg'); background-size: auto;">
  <div class="absolute pt-[20%] rounded-3xl pb-[133%] w-[80%] h-[80%] ml-[10%] border-2 border-solid mt-[21%] bg-gradient-to-r from-gray-700 to-black shadow-2xl shadow-black  border-blue-300 md:w-[32%]  md:mt-[10%] md:ml-[50vh] md:h-[72%] md:shadow-2xl md:shadow-gray-700" >
    <h1 class="absolute text-2xl mt-[-25%] text-white font-salome flex flex-row items-center justify-center text-center w-full font-extrabold md:mt-[7%] md:font-extrabold md:text-white">Formulario de Asistencia para la gran fiesta</h1>
    <div class="flex items-center  justify-center min-h-screen container-form">
      <div class="bg-blue-100 shadow-md shadow-blue-800 border-2 border-solid border-blue-300 rounded-xl p-5 w-[90%] h-[30%] mt-[-225px] mr-8vh] md:mt-[-38%] md:bg-blue-200 md:border-2 md:border-solid md:border-blue-300">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <div class="flex justify-center items-center pt-2 pb-2 bg-gradient-to-r from-gray-700 to-black shadow-3xl text-white rounded-lg border-2 border-solid border-blue-300">
              <label class="block text-sm font-bold ">¿Asistirás?</label>
              <div class="flex items-center pl-5">
                <input
                  type="checkbox"
                  [checked]="asistir"
                  (change)="toggleCheckbox('asistir')"
                  class="form-checkbox h-5 w-5 text-blue-600"
                />
                <span class="text-white pl-2">Sí</span>
              </div>
              <div class="flex items-center pl-4">
                <input
                  type="checkbox"
                  [checked]="noAsistir"
                  (change)="toggleCheckbox('noAsistir')"
                  class=" h-5 w-5 text-blue-600"
                />
                <span class="text-white pl-2">No</span>
              </div>
            </div>

            <input
              type="text"
              id="name"
              [(ngModel)]="name"
              name="name"
              required
              class="shadow rounded w-full py-2 px-3 placeholder:text-black text-gray-700 leading-tight md:w-full border-b-2 mt-8 border-gray-300 focus:border-blue-500 focus:outline-none bg-transparent"
              placeholder="Ingresa tu nombre"
            />
            <input
              type="text"
              id="name2"
              [(ngModel)]="name2"
              name="name2"
              required
              class="shadow rounded w-full py-2 px-3 placeholder:text-black placeholder: text-gray-700 placeholder:flex placeholder:flex-row placeholder:justify-stretch leading-tight md:w-full border-b-2 mt-8 border-gray-300 focus:border-blue-500 focus:outline-none bg-transparent"
              placeholder="Ingresa el nombre de tu acompañante/es"
            />
          </div>
          <div class="mb-10 flex flex-col">
            <textarea
              id="allergies"
              [(ngModel)]="allergies"
              name="allergies"
              rows="3"
              class="shadow rounded w-full py-2 px-3 placeholder:text-black placeholder: text-gray-700 leading-tight md:w-full border-b-2 mt-8 border-gray-300 focus:border-blue-500 focus:outline-none bg-transparent"
              placeholder="Especifica tus alergias o intolerancias"
            ></textarea>
          </div>
          <div class="mb-8 vegan flex flex-col">
            <label class="inline-flex items-center">
              <input
                type="checkbox"
                [(ngModel)]="vegan"
                name="vegan"
                class="form-checkbox h-5 w-5 text-blue-600"
              />
            <span class="ml-2 text-gray-700 vegan1">Soy vegano/a</span>
            </label>
            <label class="inline-flex items-center ml-0 vegan2">
              <input
                type="checkbox"
                name="vegetariano"
                [(ngModel)]="vegetariano"
                class="form-checkbox h-5 w-5 text-blue-600"
              />
              <span class="ml-2 text-gray-700">Soy vegetariano/a</span>
            </label>
            <label class="inline-flex items-center ml-0">
              <input
                type="checkbox"
                name="celiac"
                [(ngModel)]="celiaco"
                class="form-checkbox h-5 w-5 text-blue-600"
              />
              <span class="ml-2 text-gray-700">Soy celíaco/a</span>
            </label>
          </div>


          <div class="flex items-center justify-center md:mt-4">
            <button
              type="submit"
              class="bg-gradient-to-r from-gray-700 to-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
