/* Estilos generales */
@font-face {
  font-family: 'pacifico';
  src: url('../../assets/fonts/Pacifico.ttf') format('opentype');
}

@font-face {
  font-family: 'salomeRegular';
  src: url('../../assets/fonts/Salome\ 400.otf') format('opentype');
}





